.all-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.filter-shadow {
  box-shadow: 0 1px 5px rgb(160 160 160 / 45%);
}
.job-card {
  @apply border-b-2 py-8;
}
.job-card:last-child {
  @apply border-0;
}

.secondary-btn {
  @apply bg-[#0cc5f8] border-[#0cc5f8] hover:bg-[#00b1e2] hover:border-[#00b1e2]
  active:bg-[#21a3c7] active:border-[#21a3c7] !important;
}
.red-btn {
  @apply bg-red-400 border-red-400 hover:bg-red-500 hover:border-red-500
  active:bg-red-600 active:border-red-600 !important;
}
.chat-box{
  box-shadow: 0px 5px 10px 5px rgb(0 0 0 / 10%);
  @apply h-full m-2 w-80 bg-white z-10 rounded-t-md flex flex-col;
}
.chat-box .chat-header{
  @apply py-2 px-3 rounded-t-md border-b-[1px] border-b-[#ECF0F1];
}
.chat-box .chat-container{
  @apply flex-grow;
}
.chat{
  @apply flex flex-col h-full;
}
.chat .chat-detail{
  @apply overflow-hidden overflow-y-auto flex-grow;
  padding: 10px 10px 10px 15px;
}
.chat-username {
  font-size: 15px;
  font-weight: 600;
}
.chat-min-close > i {
  @apply text-2xl cursor-pointer;
}

@keyframes fvn-spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.fvn-spinner div {
  position: absolute;
  width: 172px;
  height: 172px;
  border: 8px solid #1d3f72;
  border-top-color: transparent;
  border-radius: 50%;
}
.fvn-spinner div {
  animation: fvn-spinner 0.8695652173913042s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-fvn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.fvn-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.fvn-spinner div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
