.all-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.filter-shadow {
  box-shadow: 0 1px 5px rgb(160 160 160 / 45%);
}
.job-card {
  @apply border-b-2 py-8;
}
.job-card:last-child {
  @apply border-0;
}

.secondary-btn {
  @apply bg-[#0cc5f8] border-[#0cc5f8] hover:bg-[#00b1e2] hover:border-[#00b1e2]
  active:bg-[#21a3c7] active:border-[#21a3c7] !important;
}
