@media (min-width: 1200px) {
    .container {
        max-width: 1280px !important;
    }
    .fvn-carousel {
        @apply max-w-[calc(100%-292px)];
    }
}
@media (min-width: 600px) {
    .fvn-carousel {
        @apply max-w-[calc(100%-272px)];
    }
}
.fvn-card {
    height: 134px;
    background: #d1e8f5;
    border-radius: 8px;
    padding: 20px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
}
.fvn-card-flex {
    /* take up 4 row */
    flex: 1 0 51%;
}
.fvn-card-title {
    @apply text-black text-2xl font-normal;
}
.fvn-welcome-title {
    font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.625rem;
    line-height: 5.125rem;
    letter-spacing: -0.0625rem;
}
.fvn-welcome-subtitle {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
}
.fvn-open-sans {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fvn-nunito {
    font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1280px !important;
    }
    .fvn-carousel {
        @apply max-w-[calc(100%-292px)];
    }
}
@media (min-width: 600px) {
    .fvn-carousel {
        @apply max-w-[calc(100%-272px)];
    }
}
.fvn-card {
    height: 134px;
    background: #d1e8f5;
    border-radius: 8px;
    padding: 20px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
}
.fvn-card-title {
    @apply text-black text-2xl font-normal;
}
.fvn-welcome-title {
    font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.625rem;
    line-height: 5.125rem;
    letter-spacing: -0.0625rem;
}
.fvn-welcome-subtitle {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
}

.swiper-button-prev,
.swiper-button-next {
    @apply btn btn-circle bg-[#d1e8f5] shadow-2xl border-0 !text-black !w-12;
}

.swiper-button-prev::after {
    content: "❮" !important;
    @apply text-3xl !important;
}
.swiper-button-next::after {
    content: "❯" !important;
    @apply text-3xl !important;
}
.text-desc {
    /* Maximum 2 line of text */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
