.offer-btn {
  @apply border-red-400 bg-red-400 hover:border-red-500 hover:bg-red-500 !important;
}
.divider:after {
  @apply !bg-slate-50;
}
.divider:before {
  @apply !bg-slate-50;
}

.chat-table td:first-child {
  @apply w-1/6;
}
.chat-table td:last-child {
  @apply w-1/6;
}
.chat-table td {
  vertical-align: top;
  @apply pt-4 pb-5;
}
.chat-table tr {
  @apply border-b-[1px];
}
.chat-table th {
  text-align: start;
  /* vertical-align: text-top; */
  /* @apply !p-0 !m-0; */
}
